<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Users </h2>
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>                  
                <td>Full Name</td>
                <td>Email</td>
                <td>Created at</td>
                <td>Actions</td>
            </tr>
        </thead>
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.created_at}}</td>
            <td><a href='{{user.id}}'/>Show</a>
                <a href='{{user.id}}/edit'/>Edit 
                <a href='{{user.id}}/delete'/>Delete </td>
        </tr>
               
        {% endfor %}
    </table>
    <a href='/new'/>Add a new user </td> 
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>